package pages

import layouts "github.com/RouteHub-Link/routehub.client.hub/templates/layouts"

templ Pins(ld layouts.LayoutDescription) {
	@layouts.Main(layouts.MainDescription{}.
		SetMainContent(pinPage()).
		SetLayoutDescription(ld))
}

templ pinPage() {
	<section class="section">
		<div class="container has-text-centered">
			<h1 class="title">
				PINS
			</h1>
		</div>
	</section>
}
